@import 'var'
@media only screen and (min-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1)
    .goToPage.goToHistory
        right: 27% !important
    .container
        width: 50%
        margin: 0 auto
    .tabsGroup
        padding: 0 30% !important
        &::before
            width: 100% !important
            height: 18px !important
            border: 0 !important
            background: $primary
    .separateLine
        display: none !important
    .card
        margin-bottom: 12px !important
    .row-md
        display: inline-flex
        align-items: flex-start
        justify-content: space-between
        width: 100%
        padding: 12px 12px 0
    @for $i from 1 through 12
        .col-md-#{$i}
            width: 100% / 12 * $i !important
            flex: 0 0 100% / 12 * $i
    .btn
        height: 48px
        line-height: 48px
        
    // history
    .goToPage.goToHome
        left: 25% !important
    
    // footer
    .footer > .row
        width: 50%
        align-items: flex-start
    .footer_title
        line-height: 2
    .xs-mb-30
        margin-bottom: 0 !important